html, body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-size: $font-size-base;
    font-weight: 400;
    line-height: 1.4;
    color: var(--text);
    letter-spacing: .5px;
    -webkit-font-smoothing: antialiased;
}

body {
    padding: 5rem 0 0 0;
    background: $white;
}

*, *:hover {
    @include css3-prefix('transition', background-color .25s linear,
                                       color .20s linear,
                                       margin .25s linear,
                                       opacity .25s linear,
                                       filter .25s linear,
                                       visibility .25s linear,
                                       transform .25s linear,
                                       border-color .25s linear)
}

.main-container {
    margin-top: $normal-pad;
    min-height: calc(100vh - 10rem);
}
.container {
    width: $container-width;
    margin: 0 auto;
}

.line {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    color: $border-color;
    background: currentColor;
}

.hr {
    display: inline-block;
    width: 2px;
    height: 2px;
    background: #AAB2BD;
    margin: 4px .6rem;
}

.clearfix {
    &:after {
        content: '';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: $disabled;
    font-size: 1rem;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $disabled;
    font-size: 1rem;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $disabled;
    font-size: 1rem;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: $disabled;
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    background: hsla(0, 0%, 100%, 0.6);
}

::-webkit-scrollbar-track {
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(95,95,95,.4);
    transition: all .2s;
    border-radius: .5rem;
    &:hover {
        background-color: rgba(95,95,95, .7);
    }
}